body,
html {
 height: 100%;
}

body {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

select,
textarea,
input[type='number'],
input[type='url'],
input[type='email'],
input[type='text'] {
 width: 100%;
}

a {
 transition: all 0.3s;
}

label {
 margin-bottom: 4px;
 display: block;
 //font-weight: bold;
}

.wpcf7-form {
 br {
  display: none;
 }
}
